body{
   margin: 10px;

}
.text h1 {
    font-size: small;
    
}
.text p {
    font-size: x-small;
    
}
nav{ 
    text-align: right;
}

#header{
    width: 30px;
}
a#navImage{
    display: block;
    margin: 30px;
    padding: 30px;
}

nav ul{
    display: none;
}
a#navImage:hover + ul, nav ul:hover{
    display: block;
    
}
nav ul li{
    display: block;

}

