body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: linear-gradient(rgba(130, 138, 173, 0.4), rgba(244, 245, 250, 0.4)), url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    background-color: transparent;
    text-align: center;
    margin: 0;
}

header img {
    max-width: 120px;
    height: auto; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

.nav-link ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link ul li {
    margin: 0 15px;
}

.nav-link ul li a {
    color: white;
}



.container {
    max-width: 100%;
    margin-bottom: 20px;
}

.boxs {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    max-width: 500px;
    margin: 0 auto;    
}

.boxs h1 {
    color: #333;
    font-size: 24px;
}

.boxs label {
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-info div {
    margin-bottom: 10px;
}

/*this for about us page */
.spa {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.service, .product {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
}

.service:hover, .product:hover {
    background-color: #0056b3;
}

